<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2013-2014 Alexey Danilchenko</string>
	<key>CFBundleIconFile</key>
	<string>DCSRemap</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>ADkd</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
